USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 9/15/2024 9:55:54 PM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'D:\Microsoft SQL Server\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'D:\Microsoft SQL Server\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 9/15/2024 9:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [char](7) NOT NULL,
	[MASACH] [char](7) NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [int] NULL,
	[THANHTIEN] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 9/15/2024 9:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](7) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 9/15/2024 9:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MALOAISACH] [char](7) NOT NULL,
	[TENLOAISACH] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAISACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 9/15/2024 9:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [char](7) NOT NULL,
	[TENNHAXUATBAN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 9/15/2024 9:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](7) NOT NULL,
	[SOLUONG] [int] NULL,
	[TENSACH] [nvarchar](100) NULL,
	[MATG] [char](7) NOT NULL,
	[MALOAISACH] [char](7) NULL,
	[GIABAN] [int] NULL,
	[GIANHAP] [int] NULL,
	[LANTAIBAN] [int] NULL,
	[MANXB] [char](7) NULL,
	[NAMXUATBAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 9/15/2024 9:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [char](7) NOT NULL,
	[TENTG] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 9/15/2024 9:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [varchar](20) NOT NULL,
	[PASS_WORD] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MASACH], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'HD0001 ', N'S001   ', 2, 200000, 400000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MASACH], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'HD0001 ', N'S003   ', 1, 220000, 220000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MASACH], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'HD0001 ', N'S005   ', 1, 150000, 150000)
GO
INSERT [dbo].[HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD0001 ', N'Nguyen Van Bay', CAST(N'2024-09-15T00:00:00.000' AS DateTime), CAST(770000.00 AS Decimal(10, 2)))
INSERT [dbo].[HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD0002 ', N'Tran Thi Hai', CAST(N'2024-09-15T00:00:00.000' AS DateTime), CAST(1150000.00 AS Decimal(10, 2)))
INSERT [dbo].[HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD0003 ', N'Nguyen Van Quyen', CAST(N'2024-09-15T00:00:00.000' AS DateTime), CAST(1000000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[LOAISACH] ([MALOAISACH], [TENLOAISACH]) VALUES (N'LS000  ', N'Chua rõ')
INSERT [dbo].[LOAISACH] ([MALOAISACH], [TENLOAISACH]) VALUES (N'LS001  ', N'Tiểu thuyết')
INSERT [dbo].[LOAISACH] ([MALOAISACH], [TENLOAISACH]) VALUES (N'LS002  ', N'Khoa học')
GO
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNHAXUATBAN]) VALUES (N'NXB000 ', N'Chua rõ')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNHAXUATBAN]) VALUES (N'NXB001 ', N'Kim Đồng')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNHAXUATBAN]) VALUES (N'NXB002 ', N'Trẻ')
GO
INSERT [dbo].[SACH] ([MASACH], [SOLUONG], [TENSACH], [MATG], [MALOAISACH], [GIABAN], [GIANHAP], [LANTAIBAN], [MANXB], [NAMXUATBAN]) VALUES (N'S001   ', 17, N'Harry Potter', N'TG002  ', N'LS001  ', 200000, 150000, 5, N'NXB002 ', 1997)
INSERT [dbo].[SACH] ([MASACH], [SOLUONG], [TENSACH], [MATG], [MALOAISACH], [GIABAN], [GIANHAP], [LANTAIBAN], [MANXB], [NAMXUATBAN]) VALUES (N'S002   ', 19, N'1984', N'TG003  ', N'LS003  ', 180000, 140000, 3, N'NXB003 ', 1949)
INSERT [dbo].[SACH] ([MASACH], [SOLUONG], [TENSACH], [MATG], [MALOAISACH], [GIABAN], [GIANHAP], [LANTAIBAN], [MANXB], [NAMXUATBAN]) VALUES (N'S003   ', 18, N'Kafka on the Shore', N'TG004  ', N'LS001  ', 220000, 180000, 2, N'NXB001 ', 2002)
GO
INSERT [dbo].[TACGIA] ([MATG], [TENTG]) VALUES (N'TG000  ', N'Chua rõ')
INSERT [dbo].[TACGIA] ([MATG], [TENTG]) VALUES (N'TG001  ', N'Nguyễn Nhật Ánh')
INSERT [dbo].[TACGIA] ([MATG], [TENTG]) VALUES (N'TG002  ', N'J.K. Rowling')
GO
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'Admin', N'Admin')
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'User', N'User')
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_LOAISACH] FOREIGN KEY([MALOAISACH])
REFERENCES [dbo].[LOAISACH] ([MALOAISACH])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_LOAISACH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
USE [master]
GO
